@font-face {
    font-family: 'Chemifonti';
    src: url("fonts/OldStandardTT-Regular.ttf");
}

h3 {
    font-family: "chemifonti";
}

#textfirst {
    font-family: "chemifonti";
}

#textsecond {
    font-family: "chemifonti";
    text-align: justify;
}
